@font-face {
    font-family: 'Eater';
    src: url('Eater-Regular.woff2') format('woff2'),
        url('Eater-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

