@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  margin: 48px 0 0 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #0e2431;
}



#jobTitle {
  animation: blinker 3s linear infinite;
  font-size: 48px;
}

@keyframes blinker {
  70% {
    opacity: .1;
  }
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.section-title {
  position: relative;
  font-size: 24px;
  color: #4070f4;
  margin-top: 16px;
  margin-bottom: 32px;
  text-align: center;
}

.section-title::after {
  position: absolute;
  content: "";
  width: 64px;
  height: 3px;
  left: 0;
  right: 0;
  margin: auto;
  top: 32px;
  background-color: #4070f4;
}

.section {
  padding-top: 48px;
  padding-bottom: 32px;
}


.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 32px;
  width: calc(100% - 32px);
  margin-left: 16px;
  margin-right: 16px;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}


.nav {
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    top: 48px;
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 32px;
    background-color: #0e2431;
    transition: 0.5s;
  }
}

.nav-item {
  margin-bottom: 32px;
}

.nav-link {
  position: relative;
  color: #fff;
}

.nav-link:hover {
  position: relative;
}

.nav-link:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  left: 0;
  top: 32px;
  background-color: #4070f4;
}

.nav-logo img {
  color: #0e2431;
  font-weight: 600;
  width: 48px;
}

.nav-toggle {
  color: #0e2431;
  font-size: 24px;
  cursor: pointer;
}


.active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  left: 0;
  top: 32px;
  background-color: #4070f4;
}


.show {
  right: 0;
}


.home {
  height: calc(100vh - 48px);
  row-gap: 16px;
}

.home-data {
  align-self: center;
}

.home-title {
  font-size: 32px;
  margin-bottom: 20px;
}

.home-title-color {
  color: #4070f4;
}

.home-social {
  display: flex;
  flex-direction: column;
}

.home-social-icon {
  width: max-content;
  margin-bottom: 16px;
  font-size: 24px;
  color: #0e2431;
}

.home-social-icon:hover,
.footer-icon:hover {
  color: #4070f4;
}

.home-img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 65%;
}


.button {
  display: inline-block;
  background-color: #4070f4;
  border: 1px solid #4070f4;
  color: #fff;
  padding: 0.75rem 30px;
  font-weight: 600;
  border-radius: 0.5rem;
}

.button:hover {
  background-color: #fff;
  color: #4070f4;
  box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}


section.about {
  padding: 20vh 15px;
}

.about-container {
  row-gap: 32px;
  text-align: center;
}

.about-subtitle {
  margin-bottom: 16px;
}

.about-img {
  justify-self: center;
}

.about-img img {
  width: 200px;
  border-radius: 0.5rem;
  cursor: pointer;
}

.about-img img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
}




.education-data {

  position: relative;
  font-weight: 600;
  padding: 0.5rem 16px;
  border-radius: 0.5rem;
  margin-bottom: 32px;
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
  transition: 1s ease;
}


.education-name {
  margin: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
}

.education-platform {
  margin: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
}

.education-duration {
  margin: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
}

.education-data:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 1s ease;
}

.skills-container {
  row-gap: 32px;
  text-align: center;
}

.skills-subtitle {
  margin-bottom: 16px;
}

.skills-text {
  margin-bottom: 32px;
}

.skills-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: 600;
  padding: 0.5rem 16px;
  margin-bottom: 32px;
  border-radius: 0.5rem;
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
  transition: 1s ease;
  cursor: pointer;
}

.skills-icon {
  width: 32px;
  font-size: 32px;
  margin-right: 16px;
  color: #4070f4;
}

img.man-icons {
  font-size: 32px;
  margin-right: 16px;
  color: #4070f4;
}

.skills-names {
  display: flex;
  align-items: center;
}


.skills-names:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 1s ease;
}

.skills-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #4070f4;
  height: 0.25rem;
  border-radius: 0.5rem;
  z-index: 10;
}

.skills-html {
  width: 85%;
}

.skills-css {
  width: 80%;
}

.skills-js {
  width: 50%;
}

.skills-c {
  width: 90%;
}

.skills-react {
  width: 50%;
}

.skills-bootstrap {
  width: 70%;
}





.skills-img {
  border-radius: 0.5rem;
}

.contact-input {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  padding: 16px;
  border-radius: 0.5rem;
  border: 1.5px solid #0e2431;
  outline: none;
  margin-bottom: 32px;
}

.contact-button {
  display: block;
  border: none;
  outline: none;
  font-size: 16px;
  cursor: pointer;
  margin-left: auto;
}


.footer {
  background-color: #0e2431;
  color: #fff;
  text-align: center;
  font-weight: 600;
  padding: 3.5rem 0;
}

.footer-title {
  font-size: 32px;
  margin-bottom: 32px;
}

.footer-social {
  margin-bottom: 32px;
}

.footer-icon {
  font-size: 16px;
  color: #fff;
  margin: 0 16px;
}


@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .section {
    padding-top: 4rem;
    padding-bottom: 48px;
  }

  .section-title {
    margin-bottom: 48px;
  }

  .section-title::after {
    width: 80px;
    top: 48px;
  }

  .nav {
    height: calc(48px + 16px);
  }

  .nav-list {
    display: flex;
    padding-top: 0;
  }

  .nav-item {
    margin-left: 48px;
    margin-bottom: 0;
  }

  .nav-toggle {
    display: none;
  }

  .nav-link {
    color: #0e2431;
  }

  .home {
    height: 100vh;

  }

  .home-data {
    align-self: flex-end;
  }

  .home-social {
    padding-top: 0;
    padding-bottom: 30px;
    flex-direction: row;
    align-self: flex-end;
  }

  .home-social-icon {
    margin-bottom: 0;
    margin-right: 32px;
  }

  .home-img {
    width: 39%;
    max-width: 420px;
    bottom: 15%;

  }

  .about-container {
    align-items: center;
    margin: auto;
    width: 50%;
    transition: 0.5s;
  }

  .skills-container {
    grid-template-columns: repeat(2, 1fr);
    text-align: initial;
  }

  .about-img img {
    width: 300px;
  }

  .project-container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 48px;
  }

  .contact-form {
    width: 360px;
  }

  .contact-container {
    justify-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }

  .home-img {
    right: 10%;
    ;
  }
}

.scroll-top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  transition: all 0.4s;
  border: 2px solid black;
  background-color: white;



  &:hover {
    background-color: rgb(227, 218, 218);

    img {
      transform: scale(1.2);
      transition: 0.8s;
    }
  }

  a {
    display: flex;
    align-items: center;
    text-decoration: none;

    img {
      width: 16px;
      height: 16px;
    }
  }

}