*{
    box-sizing: border-box;
    margin: 0;
}

/* css float properties */

.box1{
    height: 100px;
    width: 100px;
    background-color: blue;
    float: left;
    clear: left;
}

/* Css Object Fit Properties */


/* .figure{
    height: 500px;
    width: 500px;
}

img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-fit: scale-down;
    object-fit: fill;
    object-fit: cover;
    object-position:bottom;
} */

/* Css overflow Properties */

.figure{
    height: 200px;
    width: 100%;
    border:4px solid orangered;
    /* overflow: hidden; */
    /* overflow: scroll;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scrollbar-width: none; */
    overflow: visible;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
}

 /* css cursor props */

.img-fluid{
    height: 400px;
    width: 400px;
    object-fit: cover;
}

.filter{
    filter: blur(3px);
    filter: brightness(150%);
    filter: contrast(500%);
    filter: hue-rotate(150deg);
    filter: invert(5000%);
    filter: opacity(0.2);
    filter: saturate(30%);
    filter: sepia(20%);
    /* filter:drop-shadow(10px 20px 5px rgb(201, 88, 201)); */
    box-shadow: 10px 20px 100px black;
}

/* Css Units */

/* Absolute Units */  
/* Relative Units */
/* calc() */

.container{
    /* width: calc(100% - 20%);
    height: calc(50%); */
    /* width: 58%; */
    width: 500px;
}
