@media(max-width:992px){
    .nav-links a{
        display: none;
    }
    .story {
        padding: 20px;
        .container{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        img{
            margin-top: 20px;
        }
    }
    .story-content{
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .our-production-content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 10px;
    }
    .our-cast{

        .main-container{
            display: flex;
            justify-content: center;
            
            .box-4{
                display: none;
            }
           
        }
    }
    .home-img{
        img{
            object-fit: cover;
        }
    }
    .movie-img{
        width: 800px;
        .justify-1{
            .box-4{
                display: none;
            }
        }
        .justify-2{
            .box-7{
                display: none;
            }
        }
    }
    .latest-videos-container{
        max-width: 960px;
        justify-content: center;
        .box-4{
            display: none;
        }
    }
    .latest-videos-content{
        max-width: 960px;
        justify-content: center;
        .text-4{
            display: none;
        }
    }
    .logo-section{
        .logo-container{
            width: auto;
            .logo-4{
                display:none ;
        }
        }
}
.contact-section{
    .container{
        display: flex;
        justify-content: center;
        .content{
            width: 720px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}
.map-container{
    iframe{
        width: 720px;
    }
}
}
@media(max-width:768px){
    .movie-img{
        width: 500px;
        .justify-1{
            .box-3{
                display: none;
            }
        }
        .justify-2{
            .box-6{
                display: none;
            }
        }
    }
    .our-cast{
        .main-container{
            width: 620px;
            .box-3{
                display: none;
            }
        }
    }
    .latest-videos-container{
        max-width: 720px;
        justify-content: center;
        .box-3{
            display: none;
        }
    }
    .latest-videos-content{
        max-width: 720px;
        justify-content: center;
        .text-3{
            display: none;
        }
    }
    .logo-section{
        .logo-container{
        .logo-3{
            display: none;
        }
    }
}
.contact-section{
    .header{
        margin-bottom: -90px;
    }
    .content{
        width: 620px;
        text-align: center;
    }
}
.map-container{
    iframe{
        width: 620px;
    }
}
}
@media(max-width:576px){
    .latest-videos-container{
        max-width: 540px;
        justify-content: center;
        .box-2{
            display: none;
        }
    }
    .our-cast{
        .main-container{
            width: 400px;
            .box-1{
                max-width: 250px;
            }
            .box-2{
                display: none;
            }
        }
    }
    .latest-videos-content{
        max-width: 540px;
        justify-content: center;
        .text-2{
            display: none;
        }
    }
    .movie-img{
        width: 270px;
        .justify-1{
            flex-wrap: wrap;
        }
        .justify-2{
            .box-5{

                display: none;
            }
        }
    }
    .logo-section{
        .logo-container{
        .logo-2{
            display: none;
        }
    }
}
.contact-section{
    
    .content{
        width: 400px;
        text-align: center;
       .contact-form{
        width: 400px;
        display: flex;
        flex-wrap: wrap;
        textarea{
            width: 250px;
        }
       }
    }
}
.map-container{
    iframe{
        width: 400px;
    }
}
}




@media (min-width: 1200px) {
    .container {
        max-width: 1110px;
    }
    /* .latest-videos-container{
        max-width: 1140px;
    } */
}