@media(max-width:992px){
    .nav-links a{
        display: none;
    }
    .story .container{
        flex-wrap: wrap;
    }
    .story-content{
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .our-production-content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}