/* ************************ FILMS & MOVIES ************************ */
/* ************************ FONT FAMILY ************************ */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  /* background-color: gray; */
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  overflow-wrap: break-word;
}
body {
  /* background-color: gray; */
}

/* ************************ HEADER PART ************************ */
header {
  height: 100%;
  width: 100%;
}

.home-img {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* transition-timing-function: linear; */
}
.first-img {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  filter: brightness(65%);
  transform: scale(1.3, 1.5);
  transition: 5s transform;
}
.header {
  /* background-image: url(../photos/asset\ 1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto; */
  overflow: hidden;
}

.navbar {
  max-width: calc(100% - 100px);
  margin: auto;
  height: 90px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  z-index: 1000;
  /* margin: 20px; */
  .nav-logo {
    display: flex;
    align-items: center;
  }
  .nav-links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .nav-links a {
    padding: 10px 30px;
    font-size: 16px;
    text-decoration: none;
    font-weight: 700;
    font-family: Roboto, sans-serif;
    text-align: center;
    color: white;
    &:hover {
      text-decoration: underline;
    }
  }

  .Mobile-menu {
    display: flex;
    align-items: center;
  }
}

.home-content {
  height: 89vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-wrap: wrap;

  .first-text {
    font-size: 18px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    font-size: bold;
    margin: 10x;
    font-family: Roboto, sans-serif;
  }
  .second-text {
    display: flex;
    justify-content: center;
    font-size: calc(7vw - 5px);
    font-family: "Oswald", serif;
    font-weight: bold;
    margin: 10x;
  }
  .third-text {
    display: flex;
    justify-content: center;
    font-family: roboto, sans-serif;
    margin: 10x;
  }
  .forth-text {
    display: flex;
    justify-content: center;
    font-family: roboto, sans-serif;
  }
  .trailer-1 {
    display: flex;
    justify-content: center;
    .trailer {
      width: 180px;
      padding: 10px;
      font-size: 16px;
      letter-spacing: 3px;
      text-align: center;
      /* border: 1px solid black; */
      margin: 20px;
      background-color: #ffbf00;
      a {
        color: white;
        text-decoration: none;
      }
      &:hover {
        background-color: black;
        transition: 0.5s;
      }
    }
  }
}

/* ************************ HEADER END ************************ */

/* ************************ STORY SECTION START ************************ */

.story {
  padding: 120px;
  /* height: 300px; */
  display: flex;
  justify-content: center;

  .container {
    display: flex;
    max-height: auto;
    width: 1100px;
  }
  .story-content {
    max-width: 80%;
    height: auto;
    flex-wrap: wrap;
  }
  .story-img {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }
  .story-img img {
    max-width: 100%;

    height: auto;
  }

  .first-text {
    font-family: Poppins, sans-serif;
    color: #ffbf00;
    margin-bottom: 10px;
  }
  .second-text {
    font-family: Oswald, sans-serif;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 25px;
    overflow-wrap: break-word;
  }
  .third-text {
    font-family: Roboto, sans-serif;
    margin-bottom: 25px;
    line-height: 25px;
    letter-spacing: 0.5px;
    font-weight: 300;
    overflow-wrap: break-word;
  }
  .forth-text {
    display: flex;
    /* justify-content: center; */

    .stoty-btn {
      font-family: Roboto, sans-serif;
      /* margin-top: 20px; */
      /* border: 1px solid black; */
      width: 150px;
      padding: 15px;
      font-size: 15px;
      letter-spacing: 3px;
      font-weight: 500;
      text-align: center;
      background-color: #ffbf00;
      animation-name: scroll 1s;
      a {
        color: white;
        text-decoration: none;
      }
      &:hover {
        background-color: black;
        transition: 0.5s;
      }
    }
  }
}

/* ************************ STORY SECTION END ************************ */

/* ************************ OUR PRODUCTION START ************************ */

.our-production {
  height: auto;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;

  .heading {
    font-family: "Oswald", sans-serif;
    font-size: 50px;
    padding-bottom: 30px;
    display: inline-block;
    line-height: 1.2;
    font-weight: 500;
    p {
      &:before {
        content: "";
        display: inline-block;
        height: 6px;
        width: 80px;
        background-color: #ffc107;
        margin-bottom: 16px;
      }
      &::after {
        content: "";
        display: inline-block;
        height: 6px;
        width: 80px;
        background-color: #ffc107;
        margin-bottom: 16px;
      }
    }
  }
}
.our-production-content {
  display: flex;
  max-height: auto;
  width: 1050px;
  justify-content: space-between;
  text-align: center;
  gap: 50px;
  img{
    transition: 0.5s all;
  }
  .tv-show {
    height: 250px;
    width: auto;

    img {
      margin-top: 50px;
      margin-bottom: 5px;
      height: 50px;
      width: 50px;
    }

    h2 {
      font-family: Oswald, sans-serif;
      font-size: 24px;
      margin-bottom: 10px;
    }
    p {
      text-align: center;
      font-family: Roboto, sans-serif;
      font-weight: 300;
      letter-spacing: 0.5px;
    }

    &:hover img {
      transform: translateY(-30px);
      transition: 0.5s;
    }
    &:hover h2 {
      color: #ffbf00;
      transition: 0.5s;
    }
  }
  .awards {
    height: 250px;
    width: auto;
    img {
      margin-top: 50px;
      margin-bottom: 10px;
      height: 40px;
      width: 40px;
    }
    h2 {
      font-family: Oswald, sans-serif;
      font-size: 24px;
      margin-bottom: 15px;
    }
    p {
      text-align: center;
      font-family: Roboto, sans-serif;
      font-weight: 300;
      letter-spacing: 0.5px;
    }
    &:hover img {
      transform: translateY(-30px);
      transition: 0.5s;
    }
    &:hover h2 {
      color: #ffbf00;
      transition: 0.5s;
    }
  }
  .movies {
    height: 250px;
    width: auto;

    img {
      margin-top: 50px;
      margin-bottom: 10px;
      height: 40px;
      width: 40px;
    }
    h2 {
      font-family: Oswald, sans-serif;
      font-size: 24px;
      margin-bottom: 15px;
    }
    p {
      text-align: center;
      font-family: Roboto, sans-serif;
      font-weight: 300;
      letter-spacing: 0.5px;
    }
    &:hover img {
      transform: translateY(-30px);
      transition: 0.5s;
    }
    &:hover h2 {
      color: #ffbf00;
      transition: 0.5s;
    }
  }
  .festivals {
    height: 250px;
    width: auto;
    img {
      margin-top: 40px;
      font-size: 60px;
    }
    h2 {
      font-family: Oswald, sans-serif;
      font-size: 24px;
      margin-bottom: 12px;
    }
    p {
      text-align: center;
      font-family: Roboto, sans-serif;
      font-weight: 300;
      letter-spacing: 0.5px;
    }
    &:hover img {
      transform: translateY(-30px);
      transition: 0.5s;
    }
    &:hover h2 {
      color: #ffbf00;
      transition: 0.5s;
    }
  }
}

/* * ************************ VIDEO SECTION START ************************ * */

.video-content {
  background-image: url(../photos/assets\ 26.png);
  height: 550px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  .main-container {
    .container {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
      .video-btn {
        display: inline-block;
        .play-btn {
          background-color: #fff;
          height: 100px;
          width: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding-left: 8px;
          font-size: 65px;
          border-radius: 50%;
          cursor: pointer;
          img {
            margin-left: 5px;
          }
          .img-2 {
            display: none;
          }
          &:hover {
            background-color: #ffbf00;
            transition: 0.6s;
            .img-1 {
              display: none;
            }
            .img-2 {
              display: block;
            }
          }
        }
      }
    }
  }
}

/* * * ************************ VIDEO SECTION END ************************ * * */

/* * * ************************ OUR CAST SECTION START ************************ * * */

.our-cast {
  height: auto;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
  .container
  {
    .row{
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
      .heading {
        h2 {
          font-family: "Oswald", sans-serif;
          font-size: 50px;
          padding-bottom: 30px;
          display: inline-block;
          line-height: 1.2;
          font-weight: 900;
          color: black;
        }
    
        h2 {
          &:before {
            content: "";
            display: inline-block;
            height: 6px;
            width: 80px;
            background-color: #ffc107;
            margin-bottom: 16px;
          }
          &::after {
            content: "";
            display: inline-block;
            height: 6px;
            width: 80px;
            background-color: #ffc107;
            margin-bottom: 16px;
          }
        }
    }
    }
    .main-container {
      display: flex;
      /* justify-content: center; */
      align-items: center;
      width: 100%;
      .img-scroll {
        width: auto;
        height: 250px;
        overflow: hidden;
        span img{
          
          transition: 0.5s ;
        }
      }
      .box {
        max-height: 500px;
        width: 100%;
      }
      .text-scroll {
        height: 250px;
        width: auto;
        padding: 10px 20px;
        .cast-name {
          font-size: 18px;
          font-weight: bold;
          font-family: "Oswald", sans-serif;
          margin-bottom: 5px;
          text-transform: uppercase;
          margin-bottom: 5px;
          margin-top: 10px;
          display: flex;
          align-items: center !important;
        }
        .cast-designation {
          font-size: 12px;
          font-family: Roboto, sans-serif;
          font-weight: 500;
          color: #ffbf00;
          margin-bottom: 15px;
          display: block;
          
          margin-bottom: 15px;
        }
        .cast-des {
          height: 75px;
          font-size: 15px;
          font-family: Roboto, sans-serif;
          font-weight: 300;
          margin-bottom: 15px;
          
        }
        .cast-social {
          padding: 0;
  
          li {
            list-style: none;
            display: inline-block;
            margin-left: 5px;
            text-align: center;
            
            border: 1px solid black;
            border-radius: 100%;
            height: 28px;
            width: 28px;
            img{
              margin-top: 4px;
            }
          }
        }
        
      }
    }
  }
  
  .box:hover{
    background-color: #ffbf00;
    transition: 0.5s all  ;
    color: white;
    .text-scroll{
      .cast-designation{
        color: white;
      }
      li{
        border: 1px solid white;
        border-radius: 50%;
      }
    }
      img{
        
        transform: scale(1.1);
        transition: 0.5s ;
      }
  }
}

/* * * ************************ OUR CAST SECTION END ************************ * * */

/* * * * ***************************************** MOVIE GALLERY ************************************** * * * */

