*
{
    margin: 0;
    box-sizing: border-box;
}

div {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    margin: 200px;
    background-color: aquamarine;
    text-align: center;
    
}
.box-1:hover{
    transform: translate(100px);
    transform: translate(100px ,200px);
    transform: translatey(400px);
    transform: translateY(-400px);
  transform: translate(-400px);
    transition: 3s;
}
.box-2:hover{
    transform: scale(2);
    transform: scale(0.5);
    transition: 3s;
}
.box-3:hover{
    transform: rotate(20deg);
    transform: rotatex(20deg);
    transform: rotatey(180deg);
    transform: rotate(-20deg);
    transition: 3s;
}
.box-4:hover{
    transform: skew(20deg);
    transform: skewx(20deg);
    transform: skewy(20deg);
    /* transform: skew(-20deg); */

    transition: 2s;

}
.box-5{
    transform:
      rotateX(-51deg)
      rotateZ(-43deg);
    transform-style: preserve-3d;
    border-radius: 20px;
    box-shadow:
      1px 1px 0 0px #f9f9fb,
      -1px 0 20px 0px rgba(34, 33, 81, 0.01),
      20px 20px 20px 0px rgba(34, 33, 81, 0.25);
    transition:
      0.4s ,
      0.4s ;


}
.box-5:hover {
    transform:
      translate3d(0px, -16px, 0px)
      rotateX(-51deg)
      rotateZ(-43deg);
    box-shadow:
      1px 1px 0 1px #f9f9fb,
      -1px 0 20px 0 rgba(34, 33, 81, 0.01),
      54px 54px 20px -10px rgba(34, 33, 81, 0.15);
  }

  .box-6{
    text-align: center;
    transform:
    perspective(750px)
    translate3d(0px, 0px, -100px)
    rotateX(27deg)
    scale(0.9, 0.9);
  border-radius: 20px;
  border: 5px solid #e6e6e6;
  box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);
  transition: 0.3s  ;
  }
  .box-6:hover{
    transform: translate3d(0px, 0px, -250px);
  }

  .box-7{
    transform:
      perspective(900px)
      rotateX(60deg)
      scale(0.7);
      border-radius: 20px;
    box-shadow: 0px 20px 10px gold;
    transition:0.5s;
  
    &:hover {
      transform:
        rotate(0deg)
        scale(1)
        translateY(10px);
    }
  }
