body{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* .css-1yrc8ca-MuiInputBase-input-MuiInput-input{
    width: 400px !important;
} */

.input{
    width: 50% !important;
}