nav .fas {
  display: none;
}

@media only screen and (max-width: 600px) {
  .header-text {
    margin-top: 100%;
    font-size: 16px;
  }
  .header-text h1 {
    font-size: 30px;
  }
  
  nav .fas {
    display: block;
    font-size: 25px;
  }

  /* .navbar{
    display: block;
    margin: 25px;
  } */

  nav ul {
    background: #081b29;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }
  nav ul li {
    display: block;
    margin: 25px;
  }

  nav ul .fas {
    position: absolute;
    top: 25px;
    left: 35px;
    cursor: pointer;
  }
}
