// height

$h-1:100px;
$h-2:200px;
$h-3:300px;
$h-4:400px;
$h-5:500px;

// width

$w-1:100px;
$w-2:200px;
$w-3:300px;
$w-4:400px;
$w-5:500px;

// background-color

$bg-color-1:red;
$bg-color-2:blue;
$bg-color-3:green;
$bg-color-4:pink;
$bg-color-5:purple;

// font-family

$color-1:red;
$color-2:blue;
$color-3:green;
$color-4:pink;
$color-5:purple;

// display , flex-container

$d-block:block;
$d-flex:flex;
$d-inline-block:inline-block;
$d-inline:inline;
$d-grid:grid;
$justify-s:start;
$justify-c:center;
$justify-e:end;
$justify-sb:space-between;
$justify-sa:space-around;
$justify-se:space-evenly;
$align-s:start;
$align-c:center;
$align-e:end;
$flex-r:row;
$flex-rr:row-reverse;
$flex-c:column;
$flex-cr:column-reverse;
$flex-wrap:wrap;
$flex-no-wrap:nowrap;

// font-props- size

$fs-1:12px;
$fs-2:16px;
$fs-3:20px;
$fs-4:24px;
$fs-5:28px;

