/* Sass Variables */

/* Types Varibales */

$hi-1:100px;
$hi-2:200px;
$hi-3:300px;
$hi-4:400px;
$hi-5:500px;
$hi-6:600px;
$hi-7:700px;
$hi-8:800px;

$wd-1:100px;
$wd-2:200px;
$wd-3:300px;
$wd-4:400px;
$wd-5:500px;
$wd-6:600px;
$wd-7:700px;
$wd-8:800px;

$flex:flex;
$justify-align-start:flex-start;
$justify-align-center:center;
$justify-align-end:flex-end;
$justify-evenly:space-evenly;
$justify-around:space-around;
$justify-between:space-between;


$bg_1:purple;
$bg_2:gray;
$bg_3:pink;
$bg_4:tomato;
$bg_5:black;
$bg_6:yellow;
$bg_7:slategray;

$color_1:purple;
$color_2:gray;
$color_3:pink;
$color_4:tomato;
$color_5:black;
$color_6:yellow;
$color_7:slategray;

$fs-1:12px;
$fs-2:18px;
$fs-3:24px;
$fs-4:28px;
$fs-5:32px;
$fs-6:36px;
$fs-7:40px;
$fs-8:44px;
$fs-9:50px;
$fs-10:60px;