div{
    height: 500px;
    width: 500px;
}
.ex-1{
    height: 100%;
    width: 100%;
    font-family:'Mountains of Christmas';
    border: 3px solid black;
    
}
.img-1{

    height: 100%;
    width: 100%;
    
}