* {
  margin: 0;
  box-sizing: border-box;
}

.maindiv {
  background-color: rgb(196, 190, 190);
  width: 1300px;
  height: 430px;
  overflow: auto;
}

.stumps {
  display: flex;
  gap: 20px;
  justify-content: end;
}

.ball {
  width: 35px;
  height: 35px;
  position: fixed;
  border-radius: 100%;
  background-color: red;
  transform: translatex(0px);
  animation: go-ball 5s ;
  animation-timing-function: linear ;
}

.line {
  background-color: white;
  height: 35px;
  width: 4px;
  margin-left: 15px;
}

.pitch {
  height: 10px;
  width: 100%;
  background-color: green;
  
}

.stump1, .stump2, .stump3 {
  margin-top: 230px;
  height: 200px;
  width: 10px;
  background-color: black;
}
.stump1, .stump2, .stump3 {
  animation: stump-color 2s ;
  animation-delay: 5s;

}
.stump2 {
  animation: hit-stumps 2s ;
 animation-delay: 5s;
}
  @keyframes go-ball {
      0% {
          /* width: 0; */
          margin: 0;
          transform: rotate(0deg);
      }
      20% {
          margin-top: 400px;
          animation-timing-function: ease-out;
      }
      30% {
      margin-top: 150px;
      animation-timing-function: ease-in;
      }
      50%{
      margin-top: 400px;
      animation-timing-function: ease-out;
      }
      60% {
          margin-top: 250px;
          animation-timing-function: ease-in;
      }
      80%{
          margin-top: 400px;
          animation-timing-function: ease-out;
      }
      90% {
          margin-top: 300px;
          animation-timing-function: ease-in;
      }
      100% {
          margin-left: 95%;
          margin-top: 350px;
          transform: rotate(2000deg);
          animation-timing-function: ease-out;
      }
  }

  @keyframes stump-color{
      
      100% {
          background-color: red;
      }
  }
  @keyframes hit-stumps{
      100% {
          transform: rotate(20deg);
      }
  }