*
{
    margin: 0;
    box-sizing: border-box;
}

/* .container{
    width: auto;
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    
}
   
    .content-1{
    width:auto;
    display: flex;
  flex-wrap: wrap ;
  margin: auto;
  border: 1px solid black;
  font-size: 20px;
  color:rgb(233, 31, 31);

        div{
            
            border: 1px solid black;
            flex: 1 0 0;
        }
        
    }
    
    .content-2{

        width: auto;
        display: flex;
        flex-wrap: wrap ;
        margin: auto;
        border: 1px solid black;
        font-size: 20px;
        color:rgb(239, 26, 26);
        
        div{
            
            border: 1px solid black;
            flex: 1 0 0;
        }
}
@media (max-width:220px){
    .content-1{
        order:2;
    }
    .content-2{
        order:1;
    }
    .box-3{
        order:2;
    }
    .box-4{
        order:1;
    }
} */
div{
    margin: 30px ;  
    border-radius: 20px;
}
.box-1{
    height: 300px;
    width: 300px;
    box-shadow: 10px 10px 10px green;
}
.box-2{
    height: 300px;
    width: 300px;
    box-shadow: 10px -10px 10px gold;
}
.box-3{
    height: 300px;
    width: 300px;
    box-shadow: 10px 10px 10px rgb(14, 86, 231),
    inset 10px 10px 20px darkkhaki;
}.box-4{
    height: 300px;
    width: 300px;
    box-shadow: 10px 10px 10px rgb(225, 48, 36),inset 10px 10px 10px darkkhaki ,
    inset 20px 20px 30px teal;
}.box-5{
    height: 300px;
    width: 300px;
    box-shadow: 10px 10px 10px rgb(235, 150, 12),
    -10px -10px 10px rgb(205, 190, 13);
}
